.reset {
    margin-top: 10px;
}

.reset button {
    border-radius: 15px;
    background-color: #146C94;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}