#root {
  margin: 0;
  padding: 0;
  width: 100%;

}

.app {
  width: 100%;
  height: 100vh;
  background-color: #C9EEFF;
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  row-gap: 5px;
}